<a href="https://colab.research.google.com/github/janastadtruckerova/Introduction-to-Python/blob/main/Python_kurz_%C3%BAvod_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Cyklus for**

Vytlačí čisla od 1 po 10

In [ ]:
numbers=(1,2,3,4,5,6,7,8,9,10)
for i in numbers:
      print(i)

1
2
3
4
5
6
7
8
9
10

Súčet čísel

In [ ]:
sucet=0
numbers=range(1,101)
for i in numbers:
    sucet += i
print("Súčet čísel od 1 do 100 je:", sucet)

Súčet čísel od 1 do 100 je: 5050

Vytlač prvky zoznamu

In [ ]:
mena = ["Anna", "Jozef", "Peter", "Eva", "Mária"]
for meno in mena:
    print(meno)

Anna
Jozef
Peter
Eva
Mária

Násobková tabuľka

In [ ]:
cislo = int(input("Zadaj číslo: "))
for i in range(1, 11):
    vysledok = cislo * i
    print(f"{cislo} x {i} = {vysledok}")

Zadaj číslo: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

faktoriál

In [ ]:
cislo = int(input("zadaj číslo:"))
faktorial = 1
for i in range(1, cislo + 1):
    faktorial *= i
    print(f"Faktoriál čísla {cislo} je: {faktorial}")

zadaj číslo:5
Faktoriál čísla 5 je: 1
Faktoriál čísla 5 je: 2
Faktoriál čísla 5 je: 6
Faktoriál čísla 5 je: 24
Faktoriál čísla 5 je: 120